<div class="body mx-3">
    <h1>WELCOME!</h1>
    <P> get the best from our app </P>
    <div class="container">
        <form>
            <div class="form-group col mb-4">



                <div class="input-icons ">
                    <label for=""><i class="fa fa-user icon"></i></label>
                </div>
                <input type="  text" formControlName="email" placeholder="  Email " class="form-control">

                <!-- <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Email is invalid</div>
                </div> -->
            </div>

            <div class="form-group col mb-4">


                <div class="lock-icon">

                    <label for class=""><i class='fas fa-lock'></i></label>
                </div>

                <input type="text" formControlName="password" placeholder="  Password" class="form-control" />

                <!-- <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                    <div *ngIf="f['password'].errors['required']">Password is required</div>
                    <div *ngIf="f['password'].errors['minlength']">Password must be at least 6 character</div>
                    <div *ngIf="f['password'].errors['maxlength']">Password must not exceed 40 character</div>
                </div> -->
            </div>

            <div class="col-mb-4" style="float:right; right:0%;">
                <a routerLink="#" style="color: blue;"> forgot password</a>
            </div>


            <div class="form-group ">
                <button type="submit" class="submit btn btn-success btn-block btn-lg">Login</button>


                <p routerLink="#" style="color:black;">Don't have accounts? <a style="color: blue;"
                        href="#"> register </a></p>

            </div>
        </form>
    </div>
</div>