<section class="mx-3">
    <h1 class="text-center">Create Account</h1>
    <div class="container">
        <form >
            <!--full name-->
            <div class="form-group col mb-3">
                <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="text" formControlName="  fullname" placeholder=" Full Name" class="form-control">
                <!-- <span class="text-danger" **ngIf="form.control['fullname'].dirty('required','fullname')">full name is required</span> -->
                <div **ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                    <div **ngIf="f['fullname'].errors['required']">Full Name is required</div>
                </div>
            </div>
            <!--email-->
            <div class="form-group col mb-3">
               <div class="lock-icon">
                    <i class="fa fa-user icon"></i>
                </div>
                <input required type="email" formControlName="  email"  placeholder="  Email" class="form-control">
                <!-- <span class="text-danger" **ngIf="form.control['fEmail'].dirty('required','Email')">Email is required</span> -->
                <div **ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div **ngIf="f['email'].errors['required']">Email is required</div>
                    <div **ngIf="f['email'].errors['required']">Email invalid></div>

                </div>
            </div>
            <!--  password -->
            <div class="form-group col mb-3">
                <div class="lock-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <input required type="password" formControlName="  password" placeholder="  Password" class="form-control">
                <!-- <span class="text-danger" **ngIf="form.control['password'].dirty('required','password')">full name is required</span> -->
                <div **ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                    <div **ngIf="f['password'].errors['required']">Passwrod is required</div>
                    <div **ngIf="f['password'].errors['required']">Password must be at least 6 character</div>
                    <div **ngIf="f['passwrod'].errors['required']">Password must not exceed 40 character</div>

                </div>
            </div>
            <!--retype password-->
            <div class="form-group col mb-3">
                <div class="lock-icon">
                    <i class="fas fa-lock"></i>
                </div>
                <input required type="password" formControlName="  retypepassword" placeholder="  Retype Password" class="form-control"> 
                <!-- <span class="text-danger" **ngIf="form.control['retypepassword'].dirty('required','password')">Retype Password is required</span> -->
                    
            </div>

            <div class="form-group">
              <button type="submit" class="btn1 mb-3 btn btn-success btn-block btn-lg" > <a style="color: white;" >Register</a></button>
              <p router="#" style="color: black;">Already have an account? <a style="color: blue;" href="#">Login</a></p>
              <!-- <div class="mb-3 form-check">
                  <label class="form-check-label" for="exampleCheck1"><small> <a style="color: 000000;">Already have an account?</a>  <a style="color: rgba(210, 124, 44, 1); text-decoration: underline;"> Login </a></small></label>
                </div> -->
          </div>
        </form>

    </div>
</section>
