.container {
    align-self: center;
    padding-left: auto;
    padding-right: auto;
}

.mx-3 {
   
    width: 100%;
}
.btn1{
    margin-top: 10%;
    margin-bottom: 15%;
    border-radius: 10px;
    background-color: blue;
    width: 100%;
    margin-top: 80px;
    
}
form input{
    width: 100%;
}

h3 {
    padding-right: 25px;
    text-align: center;
}

p {
    text-align: center;
    padding-right: 25px;
    margin-top: 80px;
}

form {
    // padding-left: 10px;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.form-group {
    // margin-top: 20px;
    width: 100%;
    // padding-left: 25px;
    // padding-right: 25px;
}

.icon {
    padding: 10px;
    color: rgba(210, 124, 44);
    min-width: 50px;
    text-align: center;
    margin-top: 5px;
    margin-left: -15px;
}

.lock-icon i {
    position: absolute;
    padding: 10px;
    color: rgba(210, 124, 44);
    min-width: 50px;
    text-align: center;
    margin-top: 5px;
    margin-left: -15px;
}

.input-icon i {
    position: absolute;
}

button {
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 1);
    width: 100%;
    color: white;
    margin-top: 10%;
}

svg {
    color: rgba(210, 124, 44);
}